.container {
  display: block;
  width: 40%;
  margin: auto;
}
.data {
  display: block;
  align-items: center;
}
.heading {
  font-size: 30px;
  text-align: center;
  font-style: italic;
  font-weight: 700;
}
.country-list li {
  border: 1px solid black;
}

ul {
  align-items: center;
}
