.container {
  display: block;
  width: 80%;
  margin: auto;
  align-items: center;
}
.data {
  display: block;
  align-items: center;
}
.heading {
  font-size: 30px;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  background-color: rgb(126, 126, 190);
}
.country-list li {
  border: 1px solid black;
  margin: 5px;
  background-color: wheat;
}
.input {
  margin: auto;
}
input {
  width: 100%;
  margin: 5px;
}
button {
  margin: 5px 40%;
}
